################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContactInfoManagementSystem/.vs
/ContactInfoManagementSystem/ContactInfoManagementSystem/bin/Debug
/ContactInfoManagementSystem/ContactInfoManagementSystem/obj
/ContactInfoManagementSystem/ContactInfoManagementSystem/ClientApp/node_modules
